@charset "utf-8";
.trans {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.transf {
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.container {
	width: 980px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.clearfix :after {
	content: "";
	display: block;
	clear: both
}

.relative {
	position: relative;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	background: transparent;
	z-index: 99;
	width: 100%;
}

.header a {
	outline: none;
}

.nav {
	padding-right: 40px;
}

.nav .nav_1 a {
	display: block;
	padding: 20px 30px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.choose {
	position: absolute;
	top: 100%;
	left: -17px;
}

.nav .nav_1 .choose li a {
	display: block;
	padding: 15px 30px;
	font-size: 13px;
	color: #bbb9b9;
	background: #212121;
	text-align: center;
	/*border-bottom: ;*/
}

.choose li {
	width: 140px;
	border-bottom: 1px solid #333;
}

.nav_1 a:after {
	content: "";
	height: 1px;
	width: 0;
	background-color: #a8a8a8;
	position: absolute;
	top: 100%;
	left: 50%;
	display: block;
	transition: all 0.5s;
}

.nav_1 a:hover::after {
	left: 0%;
	width: 100%;
}


/*.logo_food {
	width: 100%;
	margin: 0 auto;
}*/

.bg_1 {
	text-align: center;
	margin-top: 10%;
}

.logo_food .dish {
	font-family: "微软雅黑";
	color: #fff;
	font-size: 26px;
}

.logo_food .dish2 {
	font-family: "times new roman";
	margin-top: 5px;
	color: #B4B4B4;
	font-size: 16px;
}

.dish_right {
	margin-top: 30px;
	margin-left: 32%;
}

.dish3 {
	font-size: 14px;
	border: 0;
	padding: 7px 20px 7px 10px;
	margin-right: 2px;
}

.dish3 a {
	outline: none;
	color: rgba(255, 255, 255, 0.6);
}

.dish_right .dish3:hover a {
	color: white;
}

.dish3_line {
	width: 0;
	height: 1px;
	background-color: #B2B2B2;
	margin-top: 4px;
}

.dish_right .dish3:hover .dish3_line {
	width: 50%;
	height: 1px;
	background-color: #B2B2B2;
}

.dish_right #dish3_1:hover .dish3_line {
	width: 100%;
	height: 1px;
	background-color: #B2B2B2;
}

.dish_right .dish3 span {
	padding-left: 17px;
}

#dish3_1 {
	margin-right: 40px;
}

.dish_list {
	margin-top: 50px;
	margin-left: 5%;
}

.dish_list .project {
	width: 292.25px;
	margin-right: 17px;
	overflow: hidden;
}

.project {
	margin-bottom: 40px;
}

.project a {
	outline: none;
}

.project_info {
	width: 248px;
}

.project_right {
	border-left: 1px solid#7D7D7D;
	color: #7D7D7D;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0;
}

.project_line {
	width: 0;
	height: 1px;
	background-color: #6F6F6F;
}

.project:hover .subtitle {
	color: #a0a0a0;
}

.project:hover .project_line {
	width: 292px;
	height: 1px;
	background-color: #6F6F6F;
}

.project_img {
	overflow: hidden;
	width: 292px;
	height: 190px;
	margin-bottom: 20px;
}

.project_info .title {
	margin: 0 50px 0 20px;
	color: #E4E4E4;
	padding: 0px 0px 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-family: "Times New Roman", "微软雅黑";
	text-align: left;
	font-size: 16px;
}

.project_info .subtitle {
	margin-bottom: 15px;
	margin-right: 60px;
	margin-top: 0;
	color: #6F6F6F;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-family: "Times New Roman", "微软雅黑";
	font-size: 14px;
	padding-left: 20px;
}

.dish_list ul .project {
	position: relative;
	/*bottom: -500px;*/
	/*margin-bottom: -200px;*/
}

.radius {
	color: white;
	font-size: 40px;
	border-radius: 100%;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 40%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 48px;
	opacity: 0;
	border: 2px solid white;
	font-family: "Times New Roman", "微软雅黑";
}

.project :hover img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.yeshu a {
	display: block;
	color: white;
	background: #3F3F3F;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-family: Arial;
	margin-left: 48%;
	margin-top: 60px;
	margin-bottom: 50px;
	outline: none;
}