.trans3 {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.trans5 {
	-webkit-transition: all 0.5s 0.5s ease-in;
	-moz-transition: all 0.5s 0.5s ease-in;
	-ms-transition: all 0.5s 0.5s ease-in;
	-o-transition: all 0.5s 0.5s ease-in;
	transition: all 0.5s 0.5s ease-in;
}

.trans05 {
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.trans1 {
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

.trans2 {
	-webkit-transition: all 2s ease-in;
	-moz-transition: all 2s ease-in;
	-ms-transition: all 2s ease-in;
	-o-transition: all 2s ease-in;
	transition: all 2s ease-in;
}

.item_top:hover img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}


/*相机效果*/

.item_top:hover .item_icon {
	display: none;
}

.item_top:hover .white_wire {
	animation: photo 0.3s, camera 0.5s 0.6s;
	animation-fill-mode: forwards;
}

.item_top:hover .white_wire2 {
	animation: photo2 0.3s 0.3s, camera 0.5s 0.6s;
	animation-fill-mode: forwards;
}

.item_top:hover .white_wire3 {
	animation: photo 0.3s, camera2 0.5s 0.6s;
	animation-fill-mode: forwards;
}

.item_top:hover .white_wire4 {
	animation: photo2 0.3s 0.3s, camera2 0.5s 0.6s;
	animation-fill-mode: forwards;
}

.item_top:hover .white_wire5 {
	animation: photo 0.3s, camera3 0.5s 0.6s;
	animation-fill-mode: forwards;
}

.item_top:hover .white_wire6 {
	animation: photo2 0.3s 0.3s, camera3 0.5s 0.6s;
	animation-fill-mode: forwards;
}

.item_top:hover .white_wire7 {
	animation: photo 0.3s, camera4 0.5s 0.6s;
	animation-fill-mode: forwards;
}

.item_top:hover .white_wire8 {
	animation: photo2 0.3s 0.3s, camera4 0.5s 0.6s;
	animation-fill-mode: forwards;
}

.living .white_wire {
	background: #f4f4f4;
	width: 2px;
	height: 4px;
	top: 20px;
	left: 20px;
}

.living .white_wire2 {
	background: #f4f4f4;
	width: 4px;
	height: 2px;
	top: 20px;
	left: 20px;
}

.living .white_wire3 {
	background: #f4f4f4;
	width: 2px;
	height: 4px;
	top: 20px;
	right: 20px;
}

.living .white_wire4 {
	background: #f4f4f4;
	width: 4px;
	height: 2px;
	top: 20px;
	right: 20px;
}

.living .white_wire5 {
	background: #f4f4f4;
	width: 2px;
	height: 4px;
	bottom: 20px;
	left: 20px;
}

.living .white_wire6 {
	background: #f4f4f4;
	width: 4px;
	height: 2px;
	bottom: 20px;
	left: 20px;
}

.living .white_wire7 {
	background: #f4f4f4;
	width: 2px;
	height: 4px;
	bottom: 20px;
	right: 20px;
}

.living .white_wire8 {
	background: #f4f4f4;
	width: 4px;
	height: 2px;
	bottom: 20px;
	right: 20px;
}

@keyframes photo2 {
	from {
		background: #f4f4f4;
		height: 2px;
	}
	to {
		background: #fff;
		height: 24px;
	}
}

@keyframes photo {
	from {
		background: #f4f4f4;
		width: 2px;
	}
	to {
		background: #fff;
		width: 24px;
	}
}

@keyframes camera {
	from {
		top: 20px;
		left: 20px;
	}
	to {
		top: 40px;
		left: 40px;
	}
}

@keyframes camera2 {
	from {
		top: 20px;
		right: 20px;
	}
	to {
		top: 40px;
		right: 40px;
	}
}

@keyframes camera3 {
	from {
		left: 20px;
		bottom: 20px;
	}
	to {
		left: 40px;
		bottom: 40px;
	}
}

@keyframes camera4 {
	from {
		right: 20px;
		bottom: 20px;
	}
	to {
		right: 40px;
		bottom: 40px;
	}
}


/*划线效果*/

/*.choose_left .choose_wire {
	top: 20px;
	left: 345px;
}

.choose_left .choose_wire2 {
	top: 20px;
	right: 20px;
}

.choose_left .choose_wire3 {
	bottom: 20px;
	right: 20px;
}

.choose_left .choose_wire4 {
	bottom: 20px;
	left: 20px;
}

.choose_left .choose_wire5 {
	top: 20px;
	left: 20px;
}

.choose_left:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.choose_left:hover .choose_wire {
	animation: choose_run 0.4s;
	animation-fill-mode: forwards;
}

.choose_left:hover .choose_wire2 {
	animation: choose_run3 0.4s 0.4s;
	animation-fill-mode: forwards;
}

.choose_left:hover .choose_wire3 {
	animation: choose_run2 0.4s 0.8s;
	animation-fill-mode: forwards;
}

.choose_left:hover .choose_wire4 {
	animation: choose_run3 0.4s 1.2s;
	animation-fill-mode: forwards;
}

.choose_left:hover .choose_wire5 {
	animation: choose_run 0.4s 1.6s;
	animation-fill-mode: forwards;
}

@keyframes choose_run {
	from {
		background: #fff;
		width: 0px;
		height: 0px;
	}
	to {
		background: #fff;
		width: 325px;
		height: 1px;
	}
}

@keyframes choose_run2 {
	from {
		background: #fff;
		width: 0px;
		height: 0px;
	}
	to {
		background: #fff;
		width: 650px;
		height: 1px;
	}
}

@keyframes choose_run3 {
	from {
		background: #fff;
		width: 0px;
		height: 0px;
	}
	to {
		background: #fff;
		width: 1px;
		height: 344px;
	}
}*/


/*小划线*/

.choose_top .choose_wire6 {
	top: 10px;
	left: 195px;
}

.choose_top .choose_wire7 {
	top: 10px;
	right: 10px;
}

.choose_top .choose_wire8 {
	bottom: 10px;
	right: 10px;
}

.choose_top .choose_wire9 {
	bottom: 10px;
	left: 10px;
}

.choose_top .choose_wire10 {
	top: 10px;
	left: 10px;
}

.choose_top:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.choose_top:hover .choose_wire6 {
	animation: choose_run4 0.2s;
	animation-fill-mode: forwards;
}

.choose_top:hover .choose_wire7 {
	animation: choose_run6 0.2s 0.2s;
	animation-fill-mode: forwards;
}

.choose_top:hover .choose_wire8 {
	animation: choose_run5 0.2s 0.4s;
	animation-fill-mode: forwards;
}

.choose_top:hover .choose_wire9 {
	animation: choose_run6 0.2s 0.6s;
	animation-fill-mode: forwards;
}

.choose_top:hover .choose_wire10 {
	animation: choose_run4 0.2s 0.8s;
	animation-fill-mode: forwards;
}

.choose_bottom .choose_wire6 {
	top: 10px;
	left: 195px;
}

.choose_bottom .choose_wire7 {
	top: 10px;
	right: 10px;
}

.choose_bottom .choose_wire8 {
	bottom: 10px;
	right: 10px;
}

.choose_bottom .choose_wire9 {
	bottom: 10px;
	left: 10px;
}

.choose_bottom .choose_wire10 {
	top: 10px;
	left: 10px;
}

.choose_bottom:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.choose_bottom:hover .choose_wire6 {
	animation: choose_run4 0.2s;
	animation-fill-mode: forwards;
}

.choose_bottom:hover .choose_wire7 {
	animation: choose_run6 0.2s 0.2s;
	animation-fill-mode: forwards;
}

.choose_bottom:hover .choose_wire8 {
	animation: choose_run5 0.2s 0.4s;
	animation-fill-mode: forwards;
}

.choose_bottom:hover .choose_wire9 {
	animation: choose_run6 0.2s 0.6s;
	animation-fill-mode: forwards;
}

.choose_bottom:hover .choose_wire10 {
	animation: choose_run4 0.2s 0.8s;
	animation-fill-mode: forwards;
}

@keyframes choose_run4 {
	from {
		background: #fff;
		width: 0px;
		height: 0px;
	}
	to {
		background: #fff;
		width: 185px;
		height: 2px;
	}
}

@keyframes choose_run5 {
	from {
		background: #fff;
		width: 0px;
		height: 0px;
	}
	to {
		background: #fff;
		width: 370px;
		height: 2px;
	}
}

@keyframes choose_run6 {
	from {
		background: #fff;
		width: 0px;
		height: 0px;
	}
	to {
		background: #fff;
		width: 2px;
		height: 165px;
	}
}


/*开门效果*/

.living_top .op_black_left {
	top: 0;
	left: 0;
	width: 50%;
	height: 310px;
	background: #666;
	opacity: 0.2;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.living_top .op_black_right {
	top: 0;
	right: 0;
	width: 50%;
	height: 310px;
	background: #666;
	opacity: 0.2;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.living_top:hover .op_black_left {
	-webkit-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-o-transform: rotateY(90deg);
	transform: rotateY(90deg);
}

.living_top:hover .op_black_right {
	-webkit-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-o-transform: rotateY(90deg);
	transform: rotateY(90deg);
}

.school:hover {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 13px 3px rgba(0, 0, 0, 0.2);
}

.home:hover {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 13px 3px rgba(0, 0, 0, 0.2);
}

.shoe_top:hover {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 13px 3px rgba(0, 0, 0, 0.2);
}

.shoe_bottom:hover {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 13px 3px rgba(0, 0, 0, 0.2);
}

.head:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.smi_top:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.people_bottom:hover {
	border-radius: 20px;
	border-color: #b4a078;
	color: #b4a078;
}

.people_service:hover {
	border-radius: 20px;
	border-color: #b4a078;
	color: #b4a078;
}


/*刹车*/

/*.manufacturer:hover .name {
	animation: lightSpeedIn 1s ease;
	animation-fill-mode: forwards;
}

.recommend:hover .name {
	animation: lightSpeedIn 1s ease;
	animation-fill-mode: forwards;
}

.living:hover .name {
	animation: lightSpeedIn 1s ease;
	animation-fill-mode: forwards;
}

.choose:hover .name {
	animation: lightSpeedIn 1s ease;
	animation-fill-mode: forwards;
}

.manufacturer:hover .more {
	animation: lightSpeedIn 1s ease;
	animation-fill-mode: forwards;
}

.recommend:hover .more {
	animation: lightSpeedIn 1s ease;
	animation-fill-mode: forwards;
}

.living:hover .more {
	animation: lightSpeedIn 1s ease;
	animation-fill-mode: forwards;
}

.choose:hover .more {
	animation: lightSpeedIn 1s ease;
	animation-fill-mode: forwards;
}

@keyframes lightSpeedIn {
	from {
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0;
	}
	60% {
		transform: skewX(20deg);
		opacity: 1;
	}
	80% {
		transform: skewX(-5deg);
		opacity: 1;
	}
	to {
		transform: none;
		opacity: 1;
	}
}
*/

/*落下*/

/*.living:hover .subCateList {
	animation: bounceInDown 0.5s 0.5s;
	animation-fill-mode: forwards;
}

.manufacturer:hover .smallName {
	animation: bounceInDown 0.5s 0.5s;
	animation-fill-mode: forwards;
}

.recommend:hover .card {
	animation: bounceInDown 0.5s 0.5s;
	animation-fill-mode: forwards;
}

.choose:hover .smallName {
	animation: bounceInDown 0.5s 0.5s;
	animation-fill-mode: forwards;
}*/

/*@keyframes bounceInDown {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		transform: translate3d(0, -3000px, 0);
	}
	60% {
		opacity: 1;
		transform: translate3d(0, 25px, 0);
	}
	75% {
		transform: translate3d(0, -10px, 0);
	}
	90% {
		transform: translate3d(0, 5px, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}*/

